<strong>Recuperando senha</strong>

<p>Uma ação de recuperação de senha foi realizada para o email ({{ email }}). Se você não foi o autor dessa requisição, troque sua senha.
<p> Para continuar com a recuperação, utilize o token {{ token }} ou clique no link abaixo:</p>

<a href="{{link}}">Criar uma nova senha</a>

